<h1>Answers:</h1>
<hr>
{{#each answers as |answer|}}
  <h4>{{answer.author}} says,</h4>
  <p>{{answer.content}}</p>
  <button class="btn btn-danger" {{action 'deleteAnswer' answer}}>Delete Answer</button>
  <hr>
{{else}}
  <p>Sorry nobody has answered this question yet.</p>
{{/each}}
