<header class="jumbotron">
  <span class="logo">
    {{#link-to 'favorites'}}
      <img src="/assets/images/heart-favourite-icon.png" alt="Favorites" height=80px>
    {{/link-to}}
    {{#link-to 'index'}}
      <img src="/assets/images/question-mark.jpg" alt="Question Quest Logo" height=80px>
    {{/link-to}}
  </span>
  <h1>Question Quest</h1>
</header>

<div class="container">
{{outlet}}
</div>

<footer>created by Charles Ewel</footer>
