<header class="jumbotron">
  <span class="logo">
    {{#link-to 'index'}}
      <img src="http://images.clipartpanda.com/question-mark-icon-Question-Mark-Icon.jpg" alt="Question Quest Logo" height=80px>
    {{/link-to}}
  </span>
  <h1>Question Quest</h1>
</header>

<div class="container">
{{outlet}}
</div>

<footer>created by Charles Ewel</footer>
